# linguist-vendored
# libraries/** linguist-vendored

* text=auto
* text eol=auto

# LF normalization
*.c text eol=lf
*.h text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.sh text eol=lf

# binary files
*.shsf binary
