
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/query/cache-v2
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/query/cmakeFiles-v1
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/query/codemodel-v2
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/cache-v2-ea8cd95e27b608950a0b.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-aaa26ce63291437cfd07.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/codemodel-v2-6ce3ccfa34dbdd56c8af.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2023-11-12T09-52-02-0115.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-SHSapp-Debug-0c10e0cb4d6e44d5473f.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/target-SHSapp_autogen-Debug-6cee55a637bba455df6d.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/cmake_install.cmake
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeCache.txt
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/3.28.0-rc4/CMakeCXXCompiler.cmake
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/3.28.0-rc4/CMakeDetermineCompilerABI_CXX.bin
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/3.28.0-rc4/CMakeRCCompiler.cmake
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/3.28.0-rc4/CMakeSystem.cmake
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/3.28.0-rc4/CompilerIdCXX/a.exe
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/3.28.0-rc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/cmake.check_cache
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/CMakeConfigureLog.yaml
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/CMakeDirectoryInformation.cmake
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/CMakeRuleHashes.txt
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/Makefile.cmake
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/Makefile2
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/progress.marks
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/build.make
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/cmake_clean.cmake
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/compiler_depend.internal
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/compiler_depend.make
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/compiler_depend.ts
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/depend.make
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/DependInfo.cmake
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/flags.make
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/includes_CXX.rsp
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/link.txt
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/linkLibs.rsp
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/main.cpp.obj
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/main.cpp.obj.d
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/mainwindow.cpp.obj
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/mainwindow.cpp.obj.d
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/objects.a
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/objects1.rsp
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/progress.make
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/SHSapp_autogen/mocs_compilation.cpp.obj
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/SHSapp_autogen/mocs_compilation.cpp.obj.d
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/tcpclient.cpp.obj
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp.dir/tcpclient.cpp.obj.d
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp_autogen.dir/AutogenInfo.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp_autogen.dir/AutogenUsed.txt
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp_autogen.dir/build.make
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp_autogen.dir/cmake_clean.cmake
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp_autogen.dir/compiler_depend.make
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp_autogen.dir/compiler_depend.ts
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp_autogen.dir/DependInfo.cmake
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp_autogen.dir/ParseCache.txt
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/SHSapp_autogen.dir/progress.make
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/CMakeFiles/TargetDirectories.txt
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/Makefile
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/SHSapp.cbp
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/SHSapp.exe
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/SHSapp_autogen/EWIEGA46WW/moc_mainwindow.cpp
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/SHSapp_autogen/EWIEGA46WW/moc_tcpclient.cpp
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/SHSapp_autogen/include/ui_mainwindow.h
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/SHSapp_autogen/moc_predefs.h
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/SHSapp_autogen/mocs_compilation.cpp
SHSapp/SHSapp/tcpclient.cpp
SHSapp/SHSapp/tcpclient.cpp.autosave
SHSapp/SHSapp/tcpclient.h
SHSapp/SHSapp/tcpclient.h.autosave
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2023-11-24T17-33-55-0055.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/cmakeFiles-v1-5c17310000280faa9dea.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2023-11-24T17-33-55-0055.json
SHSapp/build-SHSapp-Desktop_Qt_5_14_2_MinGW_64_bit-Debug/.cmake/api/v1/reply/index-2023-11-25T14-32-00-0162.json
